img, video {
  object-fit: cover;
  width:200px;
  height:400px;
  z-index: -1000;
}

.caption {
	padding-left: 0px;
}

.bullet {
	font-size: 8px;
}

.comment-icon {
	background: url(../../assets/mdi_mode_comment.svg) no-repeat 6px;
}

.comment-count {
	font-size: 9px;
	padding-bottom: 6px;
}